[Unit]
Description=LetsEncrypt

# ストレージボリュームが必要
Wants=block_device.service
After=block_device.service

# Nginx（リバースプロキシ）が必要
Wants=nginx.service
After=nginx.service

Wants=download_configs.service
After=download_configs.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/environment

ExecStart=/opt/setup/letsencrypt_config.sh

[Install]
WantedBy=multi-user.target
